<html>
  <head>
    <title>远程视频监控</title>
    <style>
      .main {
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #98bf21;
        width: 1000px;
        height: 800px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1 style="color: #14c674">远程视频监控</h1>
      <img
        src="{{ url_for('video_play') }}"
        style="display: inline-block; vertical-align: middle"
      />
    </div>
  </body>
</html>
